APP_PORT=3002

# PostgreSQL
DATABASE_URL=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=fleet
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=maintenance-service
KAFKA_TOPIC_MAINTENANCES=maintenances
KAFKA_TOPIC_VEHICULES=vehicules

# Keycloak
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=flotte-realm
KEYCLOAK_CLIENT_ID=maintenance-service

# OpenTelemetry
OTEL_SERVICE_NAME=maintenance-service
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
NODE_ENV=development
LOG_LEVEL=info
